@font-face {
    font-family: dugas;
    src: url(./DugasPro/ttf/DugasPro-BlackUltra-condensed.ttf)
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

#header {
    position: relative;
    height: 200vh;
    width: 100vw;
    overflow: hidden;
    background-color: white;
}

#title {
    display: flex;
    justify-content: center;
    font-family: dugas;
    font-size: 30vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 200vh;
    width: 100vw;
    z-index: 2;
    background-color: white;
}

#over {
    height: 100vh;
}

#over-content {
    line-height: 100vh;
}

#watch {
    height: 200vh;
}

#inner-watch {
    height: 1em;
    text-align: left;
    line-height: 100vh;
}

#learn {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#learn-content {
    margin: 0 20%;
}

.filler {
    height: 100vh;
}

