@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Monomaniac+One&family=Oswald&display=swap');

@font-face {
    font-family: dugas;
    src: url(./DugasPro/ttf/DugasPro-BlackUltra-condensed.ttf)
}

* {
    margin: 0;
    padding: 0;
}

main {
    font-family: 'Bebas Neue', sans-serif;
}

#title {
    display: flex;
    justify-content: center;
    font-family: dugas;
    font-size: 30vw;
    position: relative;
    height: 200vh;
    width: 100%;
    z-index: 2;
    background-color: white;
    overflow: hidden;
    line-height: 100vh;
}

#learn {
    text-align: center;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 75px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to bottom, white, black);
}

#learn-content {
    margin: 0 20%;
}

.filler {
    height: 100vh;
    width: 100%;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.side-reveal-content {
    overflow-x: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.side1, .side2, .side3 {
    position: relative;
    background-color: black;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}

#heroes-text {
    width: 40%;
    position: absolute;
    left: -40vw;
    z-index: 2;
}

#genji {
    position: absolute;
    height: 80%;
    right: -20vw;
}

#trophy {
    position: absolute;
    height: 80%;
    left: -20%;
}

#goty-text {
    position: absolute;
    right: -40%;
    width: 40%;
}

#owl-text {
    position: absolute;
    left: -40%;
    width: 40%;
    z-index: 10;
}

#owl-logo {
    position: absolute;
    height: 80%;
    right: -30%;
    z-index: 2;
}

.text-contain {
    width: 50%;
}

#ow2-announcement {
    height: 50vh;
    background-color: black;
    text-align: center;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 2em;
    position: absolute;
    z-index: 10;
}

#ow2-announced {
    opacity: 0;
    color: white;
}

.promises {
    color: white;
    font-size: 50px;
    background-color: black;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.promises p {
    width: 70%;
}

.pve {
    background-color: #252525;
}

.missions {
    background-color: #7b7b7b;
    color: black;
}

.new-stuff {
    background-color: white;
    color: black;
}

.panel {
    width: 100%;
    font-size: 5em;
    padding: 10vw;
}

.container {
    position: relative;
}

#dead-container {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: white;
    z-index: 2;
}

#dead {
    height: 100vh;
    width: 500%;
    overflow-x: hidden;
    overscroll-behavior: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#ow2-released {
    text-align: center;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 75px;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: black;
    color: white;
}

#ow2-released {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#big {
    font-family: dugas;
    font-size: 6em;
    line-height: 1;
}

#release-date {
    font-size: 1em;
    font-family: 'Bebas Neue', sans-serif;
}

#launch-container {
    width: 100%;
    background-color: black;
    overflow-x: hidden;
}

#ow2-launch {
    margin: 0 auto;
    width: 60%;
    background-color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}

.launch {
    height: 40vh;
    background-color: black;
    color: white;
    font-size: 4em;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

#broken-container {
    position: relative;
    overflow: hidden;
}

.wait {
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 7em;
    background-color: black;
    color: white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.no-overflow {
    overflow: hidden;
    width: 100%;
    background-color: black;
}

#zoom-out {
    height: 100vh;
    color: white;
    font-size: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
    background-color: black;
}

#broken {
    width: 70%;
    text-align: center
}

#zoom-in {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
}

#zoom-in p {
    font-size: 1em;
    text-align: center;
    width: 20%;
    color: white;
    font-family: 'Oswald', sans-serif;
}

#footer {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e;
}

#footer p {
    text-align: center;
    color: white;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
}
